[Desktop Entry]
Name=Portato (Gtk)
Icon=portato-icon
Exec=gksu -D "Portato (GTK)" -u root portato gtk
StartupNotify=true
Type=Application
Categories=Application;System;PackageManager
