[Desktop Entry]
Name=Portato (Qt)
Icon=portato-icon.png
Exec=kdesu -t --nonewdcop -c portato qt
StartupNotify=true
Type=Application
Categories=Application;System;PackageManager
